label {
    /*!* Black 54% *!*/
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /*!* identical to box height, or 119% *!*/
    /*!* Black 87% *!*/
    color: rgba(0, 0, 0, 0.87);

}

.checkbox {
    border: 2px solid rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin: 3px;

    background-color: red;
}


/*
.checkbox{
    !* Black 54% *!
    border: 2px solid rgba(0, 0, 0, 0.54);
    box-sizing: border-box;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    !* identical to box height, or 119% *!



    !* Black 87% *!

    color: rgba(0, 0, 0, 0.87);

}*/
