.app-wrapper {
    display: grid;
    width: 380px;
    grid-template-areas: 'i' 'e' 'm' 'p' 'rm' 'b' 'q' 'f';
    grid-template-columns: auto;
    grid-template-rows: 8fr;
    font-family: Roboto, sans-serif;
    margin: 241px auto;
    padding: 0;


}

/*.app-wrapper .app-wrapper-mail {
    grid-area: rm;

}*/

.app-wrapper-checkbox {
    /*display: grid;
    grid-template-rows: 1fr 1fr;
    border: solid red;*/

}

.icon {
    justify-self: center;
}

