/*.App {*/
/*    display: grid;*/
/*    grid-template-columns: 380px;*/

/*    padding-left: 530px;*/
/*    padding-top: 241px;*/

/*}*/

.App {
    position: absolute;
    width: 380px;
    height: 541px;
    left: 530px;
    top: 241px;
}